[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
Django = "*"
Pillow = "*"
django-environ = "*"
environ = "*"
twilio = "==6.32.0"
celery = "*"
redis = "*"
gunicorn = "*"
psycopg2-binary = "*"
wheel = "*"
django-heroku = "*"
django-filter = "*"
django-bootstrap-form = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
