[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
Django = "*"
Pillow = "*"
redis = "==3.2.0"
django-environ = "*"
environ = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
