{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Login{% endblock %}


{% block content %}

<div class="card">
    <div class=" card-body">
        <h5 class="card-title">Login</h5>
        <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-dark w-100">Login</button>
            <a href="/accounts/password_reset/" style="color: blue;">reset password</a>

        </form>
    </div>
</div>
{% endblock %}