{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="card text-dark bg-light mb-3" style="margin-top: 10px;">
    <div class="card-header"><i class="bi bi-envelope"></i> Latest Notices</div>
    <div class="card-body">
        {% for e in notices %}
        <i class="bi bi-caret-right-fill"></i><a href="/notices/{{e.id}}" class="card-title"
            style="color: blue;">{{e.title}}</a>
        <br>
        {% endfor %}
    </div>
    <div class="card-footer bg-transparent"><a href="/notices" class="badge bg-dark text-light">view all
            notices</a>
    </div>

</div>


<div class="card text-dark bg-light mb-3" style="margin-top: 10px;">
    <div class="card-header"><i class="bi bi-calendar"></i> Latest Events</div>
    <div class="card-body">
        {% for e in events %}
        <i class="bi bi-caret-right-fill"></i><a href="/events/{{e.id}}" class="card-title"
            style="color: blue;">{{e.title}}</a>
        <br>
        {% endfor %}
    </div>
    <div class="card-footer bg-transparent"><a href="/events" class="badge bg-dark text-light">view all
            events</a>
    </div>

</div>

{% endblock %}