{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<h2 class="text-center">Jobs <i class="bi bi-clipboard-data"></i></h2>

<div class="row">
    <div class="col col-12 col-md-4 mb-4 mb-md-0">
        <div class="card">
            <h5 class="card-header">Filters</h5>
            <div class="card-body">
                <form method="GET">
                    {{filter.form|bootstrap }}
                    <button type="submit" class="btn btn-dark w-100">Filter</button>
                </form>
            </div>

        </div>
    </div>




    <div class="col col-12 col-md-8">
        {% for job in filter.qs %}


        <a href="{{job.id}}" class="card-link">

            <div class="card" style="width: 100%; margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ job.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ job.posted_on }}</h6>
                    <p class="card-text">{{ job.job_description|safe|truncatechars:255 }}</p>
                    <div class="my-2">
                        {% for tag in job.year_tags.all %}
                        <span class="badge rounded-pill bg-warning text-dark">{{tag.title}}</span>
                        {% endfor %}
                        <span class="badge rounded-pill bg-info text-light">
                            {% if job.offer_type == "I"%}
                            Internship
                            {% else %}
                            Job
                            {% endif %}
                        </span>
                        <span class="badge rounded-pill bg-info text-light">
                            {% if job.application_type == "OF"%}
                            Off-Campus
                            {% else %}
                            On-Campus
                            {% endif %}
                        </span>

                    </div>


                </div>
            </div>
        </a>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>







{% endblock %}